.background_img {
    background-image: url("../img/animals/panda.jpeg");
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    background-image: url("../img/animals/flamingo.jpeg");
    height: 100%;
    margin: 0px;
}

#meny_container {
    width: 70%;
}

#index_container {
    width: 70%;
}

header {
    width: 70%;
    display: grid;
    grid-template-columns:1fr 70% 1fr;
    background-color: black;
    color: white;
    position: fixed; /* Ändra så att den blir fixed och sedan fixa så att den får rätt width*/
}

.text_header {
    display: flex;
    justify-content: space-around;
}

.button_header {
    display: flex;
    justify-content: right;
}

.menu {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.menu:hover, menu:focus {
    background-color: #2980B9; 
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropDownList {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 90px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0px;
}

.dropDownList a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropDownList a:hover {
    background-color: #ddd;
}

.show {
    display:block;
}

main {
    margin: 0px;
}

article {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.index_container {
    width: 90%;
    margin: 0px;
}

.text_main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

footer {
    display: flex;
    color: white;
    background-color: black;
    justify-content: space-between;
    margin: 0px;
}

ul {
    list-style-type: none;
}

li {
    margin: 10px;
}

.bg_lblue {
    background-color: lightblue;
}

.full_width {
    width: 100%;
}

#h2_index {
    display: flex;
    justify-content: center;
    margin: 0px;
}

#p_index {
    margin: 0px;
}

.meny_card {
    display: flex;
    flex-wrap: wrap;
    max-width: 1rem;
}