#aktiviteter {
    /*Lägg till en snygg bg colour*/
    grid-area: ak;
    border-style: solid;
    border-radius: 20px;
    padding: 5px;
    margin: 5px;
    background-color: wheat;
}

#animals{
    grid-area: dj;
    display: grid;
    grid-template-areas: 
    "bj rp"
    "ho ho";
    border-color: black;
    border-width: 5px;
}

article {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.background_img {
    background-image: url("../img/animals/panda.jpeg");
    width: 100%;
}

.bg_black {
    background-color: black;
    color: white;
}

.bg_lblue {
    background-color: lightblue;
}

#bjorn {
    grid-area: bj;
    display: flex;
    background-image: url("../img/animals/brunbjorn.jpg");
    background-size: contain;
    align-items: end;
}

#bjorn:hover #text_bjorn {
    display: block;
}

body {
    display: flex;
    justify-content: center;
    background-image: url("../img/animals/flamingo.jpeg");
    height: 100%;
    margin: 0px;
}

.button_header {
    display: flex;
    justify-content: right;
}

.card_omOss {
    display: grid;
    grid-template-areas: 
    "h3 h3"
    "img p";
}

.center {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container {
    width: 70%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#desserts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropDownList {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 90px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0px;
}

.dropDownList a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropDownList a:hover {
    background-color: #ddd;
}

footer {    
    width: 100vw;
    display: flex;
    color: white;
    background-color: black;
    justify-content: space-between;
    margin: 0px;
}

.full_width {
    width: 100%;
}

.grid_left {
    grid-area: img;
}

.grid_right {
    grid-area: p;
}

.grid_top {
    grid-area: h3;
}

#h2_index {
    display: flex;
    justify-content: center;
    margin: 0px;
}

header {
    width: 70%;
    display: grid;
    grid-template-columns:1fr 70% 1fr;
    background-color: black;
    color: white;
    position: fixed; /* Ändra så att den blir fixed och sedan fixa så att den får rätt width*/
}

#hona {
    grid-area: ho;
    display: flex;
    background-image: url("../img/animals/spraklig_hona.jpg");
    background-size: contain;
    align-items: end;
}

#hona:hover #text_hona {
    display: block;
}

#hot_meal {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.hover_show {
    display: none;
}

.hover_show:hover {
    display: inline;
}

.img_auto {
    width: auto;
    height: auto;
}

.img_omOss {
    width: 150px;
    border-radius: 99999px;
}

.index_container {
    width: 90%;
    margin: 0px;
}

li {
    margin: 10px;
}

main {
    margin: 0px;
    margin-top: 95.33px;
    width: 100%;
}

.menu {
    background-color: #3498DB;
    color: white;
    padding: 11px;
    font-size: 64px;
    border: none;
    cursor: pointer;
}

.menu:hover menu:focus {
    background-color: #2980B9; 
}

.meny_card {
    display: grid;
    grid-template-rows: auto auto auto;
    justify-items: center;
    background-color: wheat;
    border-style: solid;
    border-radius: 20px;
    padding: 7%;
    margin: 5px;
}

.meny_img_large {
    border-radius: 99999px;
    width: 194px;
    height: 259px;
}

.meny_img_small {
    border-radius: 999999999px;
    width: 145.5px;
    height: 194.25;
}

#meny_main {
    display: grid;
    grid-template-rows: auto auto auto auto auto auto;
}

#om_oss {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #2980B9;
    width: 70%;
}

#oppettider {
    /*Lägg till en snygg bg colour*/
    grid-area: ot;
    border-style: solid;
    border-radius: 20px;
    padding: 5px;
    margin: 5px;
    background-color: wheat;
}

#p_index {
    margin: 0px;
}
#red_panda {
    grid-area: rp;
    display: flex;
    background-image: url("../img/animals/red_panda.jpg");
    background-size: contain;
    align-items: end;
}

#red_panda:hover #text_redPanda {
    display: block;
}

.show {
    display:block;
}

#starters {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto auto;
}

#text_bjorn {
    display: none;
    margin: 0px;
    width: 100%;
}

.text_header {
    display: flex;
    justify-content: space-around;
}

#text_hona {
    display: none;
    margin: 0px;
    width: 100%;
}

#text_redPanda {
    display: none;
    margin: 0px;
    width: 100%;
}

.text_main {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "ot dj"
    "ak dj";
    width: 100%;
    height: 87vh;
    margin-left: 5px;
}

ul {
    list-style-type: none;
}
